#Header {
    background-image: url("../images/background.png");
    background-size: cover;
    margin-bottom: 20%;
}

#Header .rellax {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: aliceblue;
}

.header-centered {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Berthold City;
    src: url("../fonts/Berthold\ City\ Regular.ttf");
}

@font-face {
    font-family: Berthold City;
    src: url("../fonts/Berthold\ City\ Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Berthold City;
    src: url("../fonts/Berthold\ City\ Bold\ Italic.otf");
    font-weight: bold;
    font-style: italic;
}

#mail-form {
    text-align: center;
    font-family: Berthold City;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    padding: 5%;
}

#mail-form input,
textarea {
    width: 85%;
    background-color: #222;
    border-color: #222;
    color: #5c5c5c;
    border-style: solid;
    resize: none;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;

    font-size: 110%;
    font-family: Berthold City;
}

#mail-form textarea {
    height: 150px;
}

#mail-form h1 {
    font-style: italic;
    margin-bottom: 0;
    color: #a1dce6;
    font-size: 230%;

}

#mail-form #send-button {
    font-size: 100%;
    color: #353535;
    width: 85.5%;
}

body,
html,
#Header {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
}

#Header h1 {
    color: white;
    margin-top: 0px;
    font-size: 500%;
}

.header-content {
    width: 100%;
    position: relative;
    top: 35%;
    text-align: center;
}

.header-menu li {
    display: inline;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 200%;

}

.header-menu a {
    text-decoration: none;
    color: aliceblue;
}

.header-menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}

.background-blur {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

#AboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25%;
}

#presentation {
    text-align: center;
    width: 50%;
}

.network {
    width: 100%;
    z-index: 1;
}

.network > a {
    width: 100%;
    height: 100%;
}

.network * {
    position: absolute;
}

.network .fa-github {
    left: 50%;
    top: 1550px;
}

.network .fa-twitter {
    left: 75%;
    top: 2100px;
}

.network .fa-linkedin-in {
    left: 25%;
    top: 2000px;
}

i {
    color: white;
}

.adjective {
    width: 100%;
    height: 100%;
}

.adjective * {
    position: absolute;
    overflow: hidden;
}

.adjective p {
    font-size: 200%;
}

#curious {
    left: 27%;
    top: 370px;
    transform: rotate(-20deg);
}

#independent{
    left: 68%;
    top: 710px;
    transform: rotate(15deg);
}

#adaptability{
    left: 43%;
    top: 770px;
    transform: rotate(-15deg);
}

#perseverance{
    left: 66%;
    top: 330px;
    transform: rotate(20deg);
}

#teamwork{
    left: 14%;
    top: 650px;
    transform: rotate(20deg);
}

#kiwis {
    width: 300px;
    left: 22%;
    top: 950px;
}

#kiwi {
    width: 130px;
    left: 53%;
    top: 230px;
    transform: rotate(60deg);
}

#rl-ball{
    width: 190px;
    left: 18%;
    top: 480px;
}

#crab{
    width: 130px;
    left: 70%;
    top: 500px;
    transform: rotate(-210deg);
}

.mail-objects{
    width: 100%;
    height: 100%;
}

.mail-objects > *{
    position: absolute;
    width: 250px;
}

.mail-objects #mailbox {
    width: 320px;
    left: 53%;
    top: 700px;
    transform: rotate(130deg);
}
.mail-objects #letter-white {
    width: 80px;
    left: 25%;
    top: 1050px;
    transform: rotate(-120deg);
}

.mail-objects #letter-white2 {
    width: 150px;
    left: 68%;
    top: 3250px;
    transform: rotate(140deg);
}
.mail-objects #letter-white3 {
    width: 80px;
    left: 35%;
    top: 600px;
    transform: rotate(76deg);
}

.mail-objects #pen {
    width: 80px;
    left: 55%;
    top: 400px;
    transform: rotate(23deg); 
}